{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block styles %}
<style>
    input:valid {
        outline: 1px solid lightgreen;
    }
    input:invalid {
        outline: 1px solid lightcoral;
    }
</style>
{% endblock styles %}
{% block login %}
    <div class="content-section" style="max-width: 500px; margin: auto;">
        <form method="POST" autocomplete="on" style="border: #a6a6a6 solid 1px; border-radius: 15px; padding: 5px 15px 0;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4 text-center">Регистрация</legend>
                <div>
                    <div id="div_id_names" class="form-group mb-2">
                        <label for="id_names" class=" requiredField">ФИО<span class="asteriskField">*</span></label>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <input type="text" name="last_name" maxlength="100" autofocus="" class="textinput textInput form-control" required="" id="id_last_name" placeholder="Фамилия" pattern="[а-яА-ЯёЁ]{1,100}">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="first_name" maxlength="100" autofocus="" class="textinput textInput form-control" required="" id="id_first_name" placeholder="Имя" pattern="[а-яА-ЯёЁ]{1,100}">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="father_name" maxlength="100" autofocus="" class="textinput textInput form-control" id="id_father_name" placeholder="Отчество" pattern="[а-яА-ЯёЁ]{1,100}">
                            </div>
                        </div>
                        <small id="hint_id_names" class="form-text text-muted">
                            <ul style="padding: 0;">
                                <li style="line-height: 1.25rem">Пожалуйста указывайте свои настоящие данные</li>
                                <li style="line-height: 1.25rem">Если у вас нет отчества, оставьте поле пустым</li>
                            </ul>
                        </small>
                    </div>
                    <div id="div_id_email" class="form-group mb-2">
                        <label for="id_email" class=" requiredField">Email<span class="asteriskField">*</span></label>
                        <div>
                            <input type="email" name="email" maxlength="100" autocomplete="username" class="emailinput form-control" required="" id="id_email" placeholder="Почта" pattern="{1,100}">
                        </div>
                        <small id="hint_id_names" class="form-text text-muted">Ваша почта</small>
                    </div>
                    <div id="div_id_password" class="form-group mb-2">
                        <label for="id_password" class=" requiredField">Пароль<span class="asteriskField">*</span></label>
                        <div>
                            <input type="password" name="password1" maxlength="100" autocomplete="new-password" class="textinput textInput form-control" required="" id="id_password" placeholder="Пароль" pattern="[a-zA-Z0-9!@#$%&*,.]{8,100}">
                            <small id="hint_id_password" class="form-text text-muted">
                                <ul style="padding: 0;">
                                    <li style="line-height: 1.25rem">Ваш пароль должен содержать от 8 до 100 символов.</li>
                                    <li style="line-height: 1.25rem">Пароль не должен быть слишком простым и распространенным.</li>
                                    <li style="line-height: 1.25rem">Пароль не может состоять только из цифр.</li>
                                </ul>
                            </small>
                        </div>
                    </div>
                    <div id="div_id_password_repeat" class="form-group mb-2">
                        <label for="id_password_repeat" class=" requiredField">Подтверждение пароля<span class="asteriskField">*</span></label>
                        <div>
                            <input type="password" name="password2" maxlength="100" autocomplete="new-password" class="textinput textInput form-control" required="" id="id_password_repeat" placeholder="Повторение пароля" pattern="[a-zA-Z0-9!@#$%&*,.]{8,255}">
                            <small id="hint_id_password_repeat" class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-info my-3"  style="display: block; width: 150px; margin: auto;" type="submit">Регистрация</button>
                </div>
            </fieldset>
        </form>
        <div class="">
            <small class="text-muted" style="display: block; margin-left: 15px;">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Войдите тут!</a>
            </small>
        </div>
    </div>
{% endblock login %}