{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block login %}
<div style="max-width: 300px; margin: 0 auto;">
  <h2>Вход не выполнен!</h2>
  <p>Войдите в свой аккаунт, чтобы продолжить пользование сайтом</p>
  <div class="row">
    <a class="col-4" style="display: block; text-align: left;" href="{% url 'login' %}">Войдите</a>
    <a class="col-6" style="display: block; text-align: right;" href="{% url 'register' %}">Зарегистрируйтесь</a>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <ul class="menu">
        <li>
          <a class="nado ml-2" style="background: #d6d6d6;" href="{% url 'diary' %}">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" class="ml-2"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 11h-4a1 1 0 01-1-1V6a1 1 0 112 0v3h3a1 1 0 110 2zM10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0z" fill="currentColor"></path></svg>
            <b>Расписание</b>
          </a>
        </li>
        <li>
          <a class="nado ml-2" href="{% url 'tasks' %}">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" class="ml-2"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.295 7.605l-4.568 6a1 1 0 01-.789.396h-.007c-.307 0-.597-.143-.787-.384l-2.432-3.108a1 1 0 111.575-1.232l1.633 2.087 3.784-4.97a1 1 0 011.591 1.211zM10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0z" fill="currentColor"></path></svg>
            <b>Домашние задания</b>
          </a>
        </li>
        <li>
          <a class="nado ml-2" href="{% url 'marks' %}">
            <svg width="20" height="18" xmlns="http://www.w3.org/2000/svg" class="ml-2"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.284 18a.952.952 0 01-.44-.107L10 15.363l-4.844 2.53a.952.952 0 01-1.375-1.004l.922-5.345L.79 7.76a.95.95 0 01.525-1.622l5.415-.786L9.149.484c.321-.645 1.38-.645 1.702 0l2.42 4.868 5.415.786a.948.948 0 01.525 1.622l-3.914 3.784.922 5.345A.95.95 0 0115.283 18z" fill="currentColor"></path></svg>
            <b>Оценки</b>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="lessons">
        <div class="slider"></div>
        {% for day in info %}
          <div style="padding: 12px;">
            <div style="padding: 5px;border-radius: 15px;background-color: #e6e6e6;">
              {% if day == day.1 %}
                <h4 id="scroll">{{ day.0 }}</h4>
              {% else %}
                <h4>{{ day.0 }}</h4>
              {% endif %}
              <table>
                {% for les in day.2 %}
                <tr>
                  <td style="width: 60%;height: 50px;">
                    <div style="position: relative;">
                      <a style="position: absolute;top: -20px;font-size: 12px;">{{ les.0 }}</a>
                      <a style="position: absolute;bottom: -20px;">{{ les.1 }}</a>
                    </div>
                  </td>
                  <td style="width: 30%;height: 50px;">
                    {% for task in day.3 %}
                      {% if task.0 == les.1 %}
                        {{task.1}}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td style="width: 10%;height: 50px;">
                    {% for mark in day.4 %}
                      {% if mark.0 == les.1 %}
                        {{mark.1}}
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}